.cart-container {
    background-color: #42127226;
    position: sticky;
    top: 0;
}

.profile {
    display: flex;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: azure;
    border-radius: 10px;
    padding: 0 10px;
}

.box div {
    margin: 10px;
}

.btn-2 button {
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    color: green;
}

.btn-2:hover {
    color: tomato;
}

.timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    margin: 5px;
    border-radius: 10px;
}

.butto {
    background-color: #0dcaf0;
    padding: 1px 90px;
}