.items {
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    background-color: #c47711;
}

.items img {
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 7px;
}

.item-info {
    margin: 0 14px;
    margin-bottom: 0;
}

.item-info button {
    padding: 5px 90px;
}

.button {
    background-color: blue;
}