.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 0 140px;
}

.logo {
    padding: 10px 15px;
    background-color: rgba(220, 20, 60, 0);
    border-radius: 10px;
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 36px;
    font-size: 20px;
    font-weight: bold;
}

.header a:hover {
    color: gold;
}